<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-8 pull-left">
        <h5>Application Roles</h5>
      </div>
      <div class="col-sm-4 pull-left text-right pb-2"> <button type="button" class="btn btn-md btn-success"
          data-toggle="modal" (click)="myModal.show()"><i class="fa fa-plus-circle "></i>
          Add Role</button>
  
      </div>
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <small class="px-3 py-1"><i class="fa fa-filter" aria-hidden="true"></i> Filter</small>
            <div class="row mt-3">
              <div class="form-group col-sm-12">
                <div class="col-sm-2 pull-left"><label for="plant">Keyword</label></div>
                <div class="col-sm-10 pull-left"> <input type="text" class="form-control" id="Keyword"
                    [(ngModel)]="this.Keyword"></div>
              </div>
          </div>
          <div class="col-sm-12 text-right">
            <button type="button" class="btn btn-md btn-primary" (click)="filter()"><i class="fa fa-search"></i>
              search</button>
          </div>
            <!--table-->
            <div class="table-responsive mt-4">
              <table class="table "  *ngIf="this.gridCriteria.totalRecord > 0">
                  <thead>
                      <tr>
                          <th>Roles Name</th>
                          <th>Roles Description</th>
                          <th>Create By</th>
                          <th>Create Date</th>
                          <th>Last Update By</th>
                          <th>Last Update Date</th>
                          <th>Tools</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of list">
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.createBy}}</td>
                        <td>{{item.createDate | date: 'dd/MM/yyyy'}}</td>
                        <td>{{item.updateBy}}</td>
                        <td>{{item.updateDate | date: 'dd/MM/yyyy'}}</td>
                          <td>
                            <button type="button" class="btn btn-secondary btn-sm" (click)="onEdit(item)">
                              <i class="fa fa-pencil"></i>
                            </button> 
                            <button type="button" class="btn btn-secondary btn-sm" (click)="onDelete(item)">
                              <i class="fa fa-trash"></i>
                            </button>
                          </td>
                      </tr>
                  </tbody>
              </table>

              <app-paging [gridCriteria]="this.gridCriteria" (gridBindingEvent)="gridBinding()"  ></app-paging>
              
          </div>
            <!--end table-->
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>