<div *ngIf="this.gridCriteria.totalRecord == 0">
    Data not found
  </div>
  <div *ngIf="this.gridCriteria.totalPage > 0">
    <div>Found <span>{{this.gridCriteria.totalRecord | number}}</span> records (page <span>{{this.gridCriteria.page | number}}</span> of <span>{{this.gridCriteria.totalPage | number}}</span>)</div>
    <ul class="pagination"  >
      <li class="page-item">
        <button type="button" class="page-link" 
        [disabled]="this.gridCriteria.page==1 ? 'disabled': null" (click)="goPage(1)" >
        <i class="fa fa-fast-backward"></i></button>
      </li>
      <li class="page-item">
        <button type="button" class="page-link" 
        [disabled]="this.gridCriteria.page==1 ? 'disabled': null" (click)="goPreviousPage()" >
        <i class="fa fa-backward"></i></button>
      </li>
      <li *ngIf="this.getStartPage() > 1">
        <button type="button" class="page-link" (click)="goPage(this.gridCriteria.page -1)" >...</button>
      </li>
      <li [ngClass]="(this.gridCriteria.page==page)?'page-item active':'page-item'"  *ngFor="let page of getPageArray()">
        <button type="button" class="page-link" (click)="goPage(page)"
        [disabled]="this.gridCriteria.page==page ? 'disabled': null"
        >{{page}}</button>
      </li>
      <li *ngIf="this.getEndPage() < this.gridCriteria.totalPage">
        <button type="button" class="page-link" (click)="goPage(this.getEndPage() +1)" >...</button>
      </li>
      <li class="page-item">
        <button type="button" class="page-link" 
        [disabled]="this.gridCriteria.page==this.gridCriteria.totalPage ? 'disabled': null" (click)="goNextPage()" >
        <i class="fa fa-forward"></i></button>
      </li>
      <li class="page-item">
        <button type="button" class="page-link" 
        [disabled]="this.gridCriteria.page==this.gridCriteria.totalPage ? 'disabled': null" (click)="goPage(this.gridCriteria.totalPage)" >
        <i class="fa fa-fast-forward"></i></button>
      </li>
      
    </ul>
  </div>