table {
    width: 100%;
    text-align: center;
  }
  
  table, tr, td, th {
    /* border: 1px solid black; */
  }
  
  th {
    vertical-align: top;
  }
  
  td:empty:after {
    content: "\00a0"; /* HTML entity of &nbsp; */
  }