<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i>Application Roles
          <div class="card-header-actions">
            <button type="button" class="card-header-action btn btn-link btn-minimize" (click)="toggleCollapse()"><i
                class={{iconCollapse}}></i></button>
          </div>
        </div>
        <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed" class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <button type="button" class="btn btn-primary pull-right" *ngIf="editable === true" (click)="onAdd()" >Add Role</button>
            </div>
          </div>
          <!--table-->
          <br>
          <div class="row">
            <div class="col-lg-12">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>Roles Name</th>
                            <th>Roles Description</th>
                            <th>Create By</th>
                            <th>Create Date</th>
                            <th>Last Update By</th>
                            <th>Last Update Date</th>
                            <th>Tools</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of appRoles">
                          <td>{{item.name}}</td>
                          <td>{{item.description}}</td>
                          <td>{{item.createBy}}</td>
                          <td>{{item.createDate | date: 'dd/MM/yyyy'}}</td>
                          <td>{{item.updateBy}}</td>
                          <td>{{item.updateDate | date: 'dd/MM/yyyy'}}</td>
                            <td>
                              <button type="button" class="btn btn-secondary btn-sm" (click)="onEdit(item)">
                                <i class="fa fa-pencil"></i>
                              </button> 
                              <button type="button" class="btn btn-secondary btn-sm" (click)="onDelete(item)">
                                <i class="fa fa-trash"></i>
                              </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
          <!--end table-->
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>