<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i>Add Roles
          <div class="card-header-actions">
            <!-- <button type="button" class="card-header-action btn btn-link btn-minimize" (click)="toggleCollapse()"><i
                class={{iconCollapse}}></i>
            </button> -->
          </div>
        </div>
        <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed" class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <button type="button" class="btn btn-primary pull-right" (click)="showSuccess()">Test Notify</button>
            </div>
          </div>
          <form [formGroup]="detailForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="rolesCode">Roles Name</label>
                  <input class="form-control" type="text" id="rolesCode" formControlName="Name"
                    [ngClass]="{ 'is-invalid': submitted && formControl.Name.errors }">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="rolesDesc">Roles Description</label>
                  <input class="form-control" type="text" id="rolesDesc" formControlName="Description"
                    [ngClass]="{ 'is-invalid': submitted && formControl.Description.errors }">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 text-right">
                <button [disabled]="loading" class="btn btn-primary">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Submit</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i>Add Roles
          <div class="card-header-actions">
            <!-- <button type="button" class="card-header-action btn btn-link btn-minimize" (click)="toggleCollapse()"><i
                class={{iconCollapse}}></i>
            </button> -->
          </div>
        </div>
        <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed" class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <!-- <button type="button" class="btn btn-primary pull-right" *ngIf="editable === true" (click)="onAdd()">Add Role</button> -->
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div *ngFor="let item of appModuleGroup" style="clear: both;">
                <label>{{item.code}}</label>
                <div *ngFor="let module of item.appModule" style="padding-left: 100px; clear: both;">
                  <div>{{module.code}}</div>
                  <div *ngFor="let plant of module.authorizePlants"
                    style="padding-left: 100px;width: 200px;float: left;">
                    <label>{{plant.code}}</label>
                    <input type="checkbox" [(ngModel)]="appModuleGroup[plant.isAuthorize]">
                  </div>
                </div>
              </div>
              <!-- <table class="table table-sm table-bordered">
                            <tr>
                                <td rowspan="2">Menu Group</td>
                                <td rowspan="2">Application Module</td>
                                <td colspan="2">Permission</td>
                                <td colspan="5">Plant</td>
                            </tr>
                            <tr>
                                <td>Access</td>
                                <td>Editable</td>
                                <td>KK</td>
                                <td>KR</td>
                                <td>LP</td>
                                <td>PT</td>
                                <td>RS</td>
                            </tr>
                            <tr *ngFor="let item of appModuleGroup">
                                <td>{{item.code}}</td>
                                <td></td>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>
                                    <input type="checkbox">
                                </td>
                            </tr>
                      </table> -->

            </div>

          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>