<div class="card mt-4">
    <h4 class="card-header">You're logged in with Angular & JWT!!</h4>
    <div class="card-body">
        <h6>Users from secure api end point</h6>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <div *ngIf="user">
            <ul *ngFor="let item of user | keyvalue">
                <li>{{item.key}}: {{item.value}}</li>
            </ul>
        </div>
    </div>
</div>