<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="clearfix">
          <h1 class="float-left display-3 mr-4">{{errorStatus}}</h1>
          <h4 class="pt-3">Oops! You're lost.</h4>
          <p class="text-muted">{{errorMessage}}</p>
        </div>
        <div class="input-prepend input-group">
          <div class="input-group-prepend">
          </div>
          <span class="input-group-append">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
